
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <title>BLogpost</title>
</head>
<body>
  
<nav  class="navbar navbar-default bg-light">
<div class="container">
    <div class="navbar-header centerIt">
  <a href="#" class="navbar-brand">Daily Journal</a>
</div>
  <ul class="nav navbar-right centerIt">
    <li  id="home">
    <!-- AS it is server hosted it sends a request onto server about the href route -->
    <!-- SO we create various route,so that when request is sent to a particular route we render that associated .ejs file -->
      <a class="nav-link" href="/">HOME </a>
    </li>
    <li  id="about">
      <a class="nav-link" href="/about">ABOUT US</a>
    </li>
    <li  id="contact">
      <a class="nav-link" href="/contact">CONTACT US</a>
    </li>
    <li  id="compose">
      <a class="nav-link" href="/compose">COMPOSE POST</a>
    </li>
  </ul>
</div>
</nav>

<div class="container">